@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700);
.ls-l.noshadow {
text-shadow:none;
}
.ls-l.black {
color:#333;
text-shadow:none;
font-size:13px;
font-weight:500;
font-family: 'Roboto', sans-serif;
text-align:center;
}
.ls-l.black.text-left{text-align:left;}
.ls-l.black  span 
{
float:left;
margin-right:12px;
color:#666;
font-size:18px;
text-decoration: line-through;
margin-top:5px;
}
.ls-l.boxshadow {
-moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}
.ls-l.modern_small_text_dark {
position:absolute;
color:#555;
text-shadow:none;
font-size:14px;
line-height:22px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}
.ls-l.modern_big_redbg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:30px;
line-height:36px;
font-family:"Open Sans", sans-serif;
padding:3px 10px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#de543e;
letter-spacing:0;
}
.ls-l.modern_big_bluebg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:800;
font-size:30px;
line-height:36px;
font-family:"Open Sans", sans-serif;
padding:3px 10px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#4e5b6c;
letter-spacing:0;
}
.ls-l.modern_medium_light {
position:absolute;
color:#000;
text-shadow:none;
font-weight:300;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}
.ls-l.modern_medium_fat_white {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}
.ls-l.modern_medium_fat {
position:absolute;
color:#000;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}
.ls-l.very_big_black {
position:absolute;
color:#333;
text-shadow:none;
font-weight:600;
font-size:40px;
line-height:40px;
font-family: 'Roboto', sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-style:none;
}
.ls-l.very_big_black span 
{
font-weight:700;
float:left;
margin-right:20px;
}
.ls-l.very_big_white {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:600;
font-size:62px;
line-height:62px;
font-family: 'Roboto', sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
padding:0px;

}
.ls-l.very_big_white.green{color:#4d5542;font-weight:bold;}
.ls-l.very_large_text {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
letter-spacing:-2px;
}
.ls-l.large_text {
position:absolute;
color:#333;
font-weight:400;
font-size:40px;
line-height:40px;
font-family: 'Roboto', sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}
.ls-l.medium_text {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:600;
font-size:16px;
line-height:16px;
font-family: 'Roboto', sans-serif;
padding:0;
margin:0px;
border-width:0px;
border-style:none;
}
.ls-l.small_text {
position:absolute;
color:#000;
font-family: 'Roboto', sans-serif;
font-size:14px;
margin:0px;
border-width:2px;
border-style:solid;
white-space:nowrap;
display:inline-block;
border-color:#fff;
background:#fff;
padding:6px 20px;
font-weight:600;
text-transform:uppercase;
}
.ls-l.small_text:hover
{
background:#fff;color:#437a7d;
}
.ls-l.small_text.green{background:#6f9b10;}
.ls-l.bg-black{background:#1a1e24;}
.ls-l.medium_grey {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:20px;
line-height:20px;
font-family:Arial;
padding:2px 4px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#888;
white-space:nowrap;
}
.ls-l.big_orange {
position:absolute;
color:#ff7302;
text-shadow:none;
font-weight:700;
font-size:36px;
line-height:36px;
font-family:Arial;
padding:0px 4px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#fff;
letter-spacing:-1.5px;
}
.ls-l.big_yellow {
position:absolute;
color:#ffd658;
text-shadow:none;
font-weight:400;
font-size:100px;
line-height:36px;
font-family:"Open Sans";
padding:0px 4px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:transparent;
}
.ls-l.big_white {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:600;
font-size:28px;
line-height:28px;
font-family:'Roboto', sans-serif;
padding:0;
margin:0px;
border-width:0px;
border-style:none;
}
.ls-l.big_white.dolla:before{content: "\f155";font-family:"FontAwesome";font-size:40px;vertical-align: 27px;}
.ls-l.big_white.percent:after{content: "%";font-size:40px;vertical-align: 27px;}
.ls-l.text-white{color:#fff;}
.ls-l.lightgrey_divider {
text-decoration:none;
background-color:rgb(235, 235, 235);
background-color:rgba(235, 235, 235, 1);
width:370px;
height:3px;
background-position:initial initial;
background-repeat:initial initial;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.ls-l.large_bold_grey , .ls-l a{
font-size:60px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
text-shadow:none;
margin:0px;
padding:1px 4px 0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_thin_grey {
font-size:34px;
line-height:30px;
font-weight:300;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.big_bluee {
position:absolute;
color:#6797bd;
text-shadow:none;
font-weight:600;
font-size:11px;
line-height:12px;
font-family:"Open Sans";
padding:0px 4px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:transparent;
text-transform:uppercase;text-align:right;
}

.ls-l.big_black {
position:absolute;
color:#333;
text-shadow:none;
font-weight:400;
font-size:15px;
line-height:15px;
font-family: 'Coda', cursive;
padding:18px 20px;
margin:0px;
border-width:0px;
border-style:none;
background:rgba(255,255,255,0.85);
text-transform:uppercase;
}

.ls-l.big_black span 
{
font-weight:700;
}

.ls-l.small_thin_grey {
font-size:18px;
line-height:26px;
font-weight:300;
font-family:"Open Sans";
color:rgb(117, 117, 117);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.large_bold_darkblue {
font-size:58px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(52, 73, 94);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_bg_darkblue {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(52, 73, 94);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_bold_red {
font-size:24px;
line-height:30px;
font-weight:400;
font-family:'Roboto', sans-serif;
color:#b50000;
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-style:none;
}

.ls-l.medium_light_red {
font-size:21px;
line-height:26px;
font-weight:300;
font-family:"Open Sans";
color:rgb(227, 58, 12);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_bg_red {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(227, 58, 12);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_bold_orange {
font-size:24px;
line-height:30px;
font-weight:800;
font-family:"Open Sans";
color:rgb(243, 156, 18);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_bg_orange {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(243, 156, 18);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_bg_asbestos {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(127, 140, 141);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}
.ls-l.text-white{color:#fff;}
.ls-l.large_bold_white {
font-size:58px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.medium_light_white {
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.grassfloor {
position:absolute;
margin:0px;
border-width:0px;
border-style:none;
display:inline-block;
max-width:470px;
text-align:center;
line-height:20px;
font-size:13px;
font-weight:500;
font-family: 'Roboto', sans-serif;
}

.ls-l.mediumlarge_light_white {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.ls-l.mediumlarge_light_white_center {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
padding:0px 0px 0px 0px;
text-align:center;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}
.no_style li
{
 font-size:14px;
 font-family: 'Roboto', sans-serif;
 color:#666;
 font-weight:500;
 margin:7px 0;
}
.no_style li:before
{
content:"\f058";
font-family: "FontAwesome";
  font-size: 15px;
  font-weight: 400;
  margin-right:10px;
  

}
.ls-l.white{color:#fff !important;}
.ls-l.bg-blue {background:#2ea0e2;}
@media (max-width: 767px ) 
{
.ls-l{display:none !important;}
#slider-wrapper{padding:0;}
}
