.wt-block-banner {
  margin-top: 30px; }
  .wt-block-banner .item {
    padding: 0 15px;
    float: left; }
    .wt-block-banner .item .banner-content {
      position: relative;-webkit-box-shadow: 0px 8px 0px -5px #1a1e24;
    -moz-box-shadow: 0px 8px 0px -5px #1a1e24; 
    box-shadow: 0px 8px 0px -5px #1a1e24; }
.wt-block-banner  ul{margin:0;}
.wt-block-banner .item .banner-content .mask {
        position: absolute;
        top: 50%;
        left: 0;
        color: #fff;
        width: 100%;
        text-align: center; margin-top:-32px;}
.wt-block-banner .item .banner-content .mask h4
{
	font-family:'Lora', sans-serif;font-size:22px;margin-bottom:4px;font-weight:500;text-transform:uppercase;margin-top:0;
}
.wt-block-banner .item .banner-content .mask h3
{
	font-size:34px;text-transform:uppercase;margin:0
}
.wt-block-banner .item .banner-content p{margin:0;}
.wt-block-banner  .explore
{
	    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 15px 5px 10px;
    background: #7ba1cd;
    border: 1px solid #7ba1cd;
}
.wt-block-banner  .explore:after {
    content: "\f178";
    font-family: "FontAwesome";
    margin-left: 12px;
}

        .wt-block-banner .item .banner-content .mask .content-mask .banner-img {
          display: block;
          text-align: center; }
        .wt-block-banner .item .banner-content .mask .content-mask p {
          max-width: 550px;
          margin-top: 15px;
          line-height: 22px;
          font-size: 17px;
          display: inline-block;
          font-weight: 400;
          clear: both; }
          
      .wt-block-banner .item .banner-content > a {
        display: block;
        overflow: hidden;
        position: relative; }
        .wt-block-banner .item .banner-content > a img {
          position: relative;
          z-index: 0;
          margin: 0 auto;
          transform: scale(1);
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden; }
        .wt-block-banner .item .banner-content:hover  > a img {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1); }

.wt-block-banner .container {
  padding-left: 0;
  padding-right: 0; }

@media (max-width: 767px) {
  #wt_manu_left, .banner-right {
    text-align: center;
    border: 1px solid #d6d6d6;
    padding: 10px; }

 
  #wt_banner_content li {
    margin-bottom: 10px;
    text-align: center; } 
.wt-block-banner .item .banner-content .mask {
            display: none; }
}
@media (min-width: 768px) and (max-width: 1199px) {
            .wt-block-banner .item .banner-content .mask .content-mask p {
              display: none; } 
}
