@import "compass";
@import "theme_variables";
.header_user_info {
	float: left; 
	
	a {
	   
		color:$link-header-color;
		display: block;
		margin-right:20px;
		cursor: pointer;
		line-height:22px;
		float:left;
		font-size:12px;font-family:$font-custom;
	   
		&:hover, &.active {
		color:$light-text-color;	
		}
	}
	i 
	{
	margin-right:10px;
	text-align:center;
	line-height:20px;
	
	font-size:13px;
	font-weight:500;
	}
	@media (max-width: $screen-xs-max)
	{
	 
	  float: none;display:inline-block;
	   a
	   {
	    display:inline-block;
		float:none;
	   }
	}
}