.search-hide{display:none;transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;}

#search_block_top {
width:428px;
  overflow: hidden;
   -moz-transition: all 0.5s;
-o-transition: all 0.5s;
-webkit-transition:all 0.5s;
transition:all 0.5s;
background:#fff;
font-family:'Roboto', sans-serif;
float:right;
margin-right:10px;
  }
  #search_block_top.show {
   
 height: 155px !important;
 border-bottom: 5px solid #000;
  padding: 40px 15%;
      -moz-transition: all 0.5s;
-o-transition: all 0.5s;
-webkit-transition:all 0.5s;
transition:all 0.5s;

  }

  #search_block_top #searchbox {
    float: left;
    width: 100%;
    border: 1px solid #eee;
    height: 35px; 
	position: relative;
	padding:0 20px;
	}
	
	
  #search_block_top .btn.button-search {
    background: #fff;
    display: block;
    position: absolute;
    top: -0;
	right: 15px;
    border: none;
    color: white;
    width: 12px;
    text-align: center;
    padding: 9px 0; }
    #search_block_top .btn.button-search > span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 13px;
      width: 100%;
      text-align: center;
      color: #333; }
    #search_block_top .btn.button-search:hover {
      color: #fff; 
	  }
	  
#result-ajax-search{transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;}
 #search_block_top  #close_search_query_nav{
 background: url(../img/bkg_close_search.png) no-repeat; position: absolute; right: 40px; top: 20px;width:16px;height:16px;
text-decoration: none;
transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
 }
  #search_block_top  #close_search_query_nav span{color: #999; font-size: 0; 
  letter-spacing: 3px; text-transform: uppercase; position: relative; right: 50px; top: 20px;
  }
   #search_block_top  #close_search_query_nav:hover span{color: #000;}
   
  #search_block_top #search_query_top {
    display: inline;
    height: 35px;
	margin-top: 0;
    line-height: 18px;
    margin-right: 1px;
    border-width: 0 0 0 1px;
    box-shadow: none;
    color: #666;
    background: #fff;
    width: 67%;
    border-color: #eee;
    margin-left: 0px;
    padding: 0 0 0 30px;
    font-size: 12px; }
	
#search_category {
  border: 0;
  color: #666;
  display: inline;
  height: 35px !important;
  outline: 0;
  padding: 0 4px;
  float: left;
  font-size: 12px !important; 
  background: transparent !important;
  width: 100% !important;
  margin-left:-20px;
  }


form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left; }

form#searchbox .button.button-small {
  float: left; }

form#searchbox .button.button-small i {
  margin-right: 0; }

/* Select style */
#search_block_top .selector {
  width: 32% !important;
  float: left;
  height: 35px;
  background: none; 
  border: none;
  padding: 0;
  }

#search_block_top .selector span {
  width: 100% !important;
  height: 35px;
  line-height: 35px;
  background: url(../img/select_search_bg.png) right 30px center no-repeat #FFF;
  padding-left: 0;
  
  color: #999;
  font-size: 12px !important; }
.ac_results {
  background: white;
  width: 271px;
  margin-top: -1px; }

.ac_results li {
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px; }

.ac_results li.ac_odd {
  background: white; }

.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb; }

.ac_results {
  border: none !important;
  width: 392px !important;
  top: 45px !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.75); }

.ac_results li strong {
  font-weight: bold; }

.ac_results li {
  background: #fff !important;
  border-bottom: 1px solid #ccc !important;
  padding: 5px !important; }

.ac_results li:last-child {
  border-bottom: none !important; }

.ac_results li img {
  vertical-align: middle !important; }

.ac_results .ac_product_name {
  padding-left: 5px !important;
  color: #666 !important; }

.ac_results li:hover .ac_product_name, .ac_results li.ac_over .ac_product_name {
  color: #fff !important; }

.ac_results li.ac_over {
  color: #fff !important;
  background-color:#fe9d96 !important; }





@media (min-width: 768px) and (max-width: 1199px) 
{
 #search_block_top .selector {
    display:none;}
.drop_search {
display: none;
position: absolute;
top: 34px;
right: 100px;
z-index: 1002; 
background:#fff;
}
.search_hover:before {
    content: "\f002";
    font-family: "FontAwesome";
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 13px;
    display:inline-block;
}
#search_block_top
{
	width:20px;background:transparent;margin-top:9px; 
}
#search_block_top #search_query_top {
    width: 270px;margin-right:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block; border:none;}
#search_block_top #searchbox{padding:0;}
 .ac_results {
    width: 270px !important;
    top: 84px !important; } 


 #search_category {
    width: 125px; }
}
@media (max-width: 767px) {
  #search_block_top {
  
	display: inline-block;
    float: none;
    margin-right: 0;
    width: 100%;
	}

  #search_block_top #search_query_top {
    width: 100%;padding:0;
    border: none;background-image:none; }

  #search_category {
    display:none; }

  .ac_results {
    left: auto !important;
    right: 15px !important;
    top: 143px !important;
    width: 290px !important; } }
@media (min-width: 480px) and (max-width: 767px) {
  .ac_results {
    top: 208px !important;
    width: 400px !important; } }

